<!--<div ng-include="'views/image-gallery.html'">-->
<!--</div>-->

	
<div image-gallery-popup>
	<section class="animate-slide image-gallery-container" ng-show="api.isVisible">
		<a href="#/" class="close" ng-click="">&times;</a>
		<div class="gallery-search">
			<input 
				class="gallery-search__input" 
				ng-model="query"
				ng-focus="api.isVisible"
				placeholder="Filter by name"
			/>
		</div>

		<ul class="image-gallery__images">
			<li 
				class="image-gallery__image" 
				ng-repeat="image in filteredImages = (images | filter:query)"
			>
				<div class="pic-wrapper">
					<img ng-src="{{image.url}}" />
				</div>
				<div class="image-gallery__image-name">
					{{image.name || "no name"}}
				</div>
			</li>

			<div ng-show="filteredImages.length == 0">
				No results matching "{{query}}", dum dum.
			</div>
		</ul>

	</section>
</div>



<div ng-controller="MainCtrl as main">
<div goblin-drag-container>

	<div goblin class="goblin ">
		<img class="goblin__head" src="images/big-goblin.png" width=350 />

		<div class="animate-show" ng-show="main.isUploadMessageVisible">
			<div class="goblin__says">
				<div class="goblin__says__image-praise">
					Yum! I like dat&nbsp;
					<img ng-src="{{main.preview}}" width="90" />
					&nbsp;!
				</div>
				<div class="goblin__says__name-image">
					<label>Whadoya call it?</label>
					<input ng-model="main.uploadsName" placeholder="e.g. pema's rattail" />
					<button ng-click="main.saveUploadsName()" ng-disabled="!main.uploadsName.length">Set name</button>
					<div class="goblin__says__skip-name">
						or 
						<a href="#">skip da name</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div goblin-says>
	</div>

	<div class="main-pic-container">
		<div class="main-pic one"></div>
		<div class="main-pic two"></div>
		<div class="main-pic three"></div>
		<p><a href="#/dempics">Dem pics</a></p>
	</div>

	<!--<div class="feed-instructions">-->
		<!--<img src="images/pic.png" />-->
		<!--<p>Feed the goblin</p>-->
		<!--<input id="last-upload-cid" ng-model="lastUploadCid" >-->
		<!--<input id="last-upload-name" ng-model="lastUploadName" >-->
		<!--<button ng-click="submitLastUploadName()">Set last uploads name</button>-->
	<!--</div>-->

	<!--<div class="holder" style="border:1px dotted green">-->
	<!--</div>-->

</div>
</div>

